:host {
    display: block;
    width: 100%;
    margin: 20px auto;
}

@media (max-width: 600px) {
     :host {
        display: block;
        width: 98vw;
        margin: 10px auto;
    }
}

.header-image {
    background-image: url('https://developers.google.com/actions/assistant.png');
    background-size: contain;
}

.header-image img {
    width: 45px;
    border-radius: 50%;
    margin-left: -5px;
}

.align-center {
    text-align: center;
}

md-card-actions {
    text-align: right;
}

md-input-container {
    width: 100%;
}

.error-message {
    color: #F44336;
    font-weight: bold;
}

md-progress-spinner {
    width: 24px;
    height: 24px;
}

md-icon[md-list-icon] {
    color: green;
}