:host {
    display: block;
    width: 100%;
    padding-top: 56px;
}

@media (max-width: 600px) {
     :host {
        display: block;
        width: 98vw;
        margin: 10px auto;
    }
}

.header-image {
    background-image: url('/assets/assistant.png');
    background-size: contain;
}

.header-image.aog {
    background-image: url('/assets/gcp.png');
}

.header-image.github {
    background-image: url('/assets/github.png');
}

.header-image img {
    width: 45px;
    border-radius: 50%;
    margin-left: -5px;
}

.permissions li {
    padding: 6px;
}

.align-center {
    text-align: center;
}

md-card-actions {
    text-align: right;
}

md-input-container {
    width: 100%;
}

md-icon[md-list-icon] {
    color: green;
    margin-top: -6px;
}

span.error-message,
md-icon[md-list-icon].error-message {
    color: #F44336;
}

.skipped-message {
    color: orange;
}

md-progress-spinner {
    width: 24px;
    height: 24px;
}

md-list-item.mat-list-item {
    color: lightgray;
}

md-list-item.mat-list-item.isWorking {
    font-weight: bold;
    color: black;
}

md-list-item.mat-list-item.isDirty {
    color: black;
}

:host .mat-list span {
    display: inline;
}