:host {
    background: url(/assets/parallax/background1.png);
    display: block;
    background-size: cover;
}

div {
    padding-bottom: 80px;
}

#app-logo {
    height: 50px;
    width: 50px;
    fill: white;
}