:host {
    display: block;
    width: 90vw;
    max-width: 900px;
    margin: auto auto;
    text-align: left;
}

sup {
    font-size: 0.5em;
    top: -7px;
    position: relative;
}

:host ul {
    line-height: normal;
}

:host li {
    margin-left: 20px;
    list-style: initial;
}

:host md-icon.prefix {
    margin: 8px;
}

header {
    width: 100%;
    padding: 30px 0;
}

header a {
    display: flex;
}

header h2 {
    padding: 0;
    margin: 13px 0;
}

a img {
    margin: 10px;
}

@media (max-width: 600px) {
     :host {
        display: block;
        width: 98vw;
        margin: 10px auto;
    }
}

.header-image {
    background-image: url('/assets/assistant.png');
    background-size: contain;
}

.header-image.gcp {
    background-image: url('/assets/gcp.png');
}

.header-image.github {
    background-image: url('/assets/github.png');
}

.header-image img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.permissions li {
    padding: 6px;
}

.align-center {
    text-align: center;
}

md-card-actions {
    text-align: center;
}

md-card.card.mat-card {
    box-shadow: none;
}

md-form-field {
    width: 100%;
}

md-icon[md-list-icon] {
    color: green;
    margin-top: -6px;
}

span.error-message,
md-icon[md-list-icon].error-message {
    color: #F44336;
}

.skipped-message {
    color: orange;
}

md-progress-spinner {
    width: 24px;
    height: 24px;
}

md-list-item.mat-list-item {
    color: lightgray;
    height: 30px;
}

md-list-item.mat-list-item.isWorking {
    font-weight: bold;
    color: black;
}

md-list-item.mat-list-item.isDirty {
    color: black;
}

:host .mat-list span {
    display: inline;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.mat-expansion-panel-header:not([aria-disabled=true]) .mat-expansion-panel-header-description {
    color: black;
}