<header>
    <a id="logo-container" href="#/" class="brand-logo">
        <img src="/assets/assistant_product_logo.png" alt="assistant_product_logo" width="64px" height="64px">
        <h2 class="header center white-text text-darken-2">
            Actions On Google Wizard <sup>ALPHA</sup>
        </h2>
    </a>
</header>
<md-accordion>

    <!-- link github account -->
    <md-expansion-panel [disabled]="!checkStepState(0)" [expanded]="selectedStep === 0" (opened)="setStep(0)" hideToggle="true">
        <md-expansion-panel-header>

            <md-panel-description *ngIf="user.github; else accountGithubNotLinked">
                Successfully linked as {{ user.github.name }} ({{ user.github.login }})
                <md-icon class="header-image github"><img *ngIf="user.github" [src]="user.github.avatar_url"></md-icon>
            </md-panel-description>

            <ng-template #accountGithubNotLinked>
                <md-panel-description>
                    Link Your Github Account
                    <md-icon class="header-image github"></md-icon>
                </md-panel-description>
            </ng-template>

        </md-expansion-panel-header>

        <md-card class="card">
            <img md-card-image src="https://enterprise.github.com/assets/home/integrations-graphic-751d7041ec159aad4acdf01d30a0685a6be2cf2b76eb2390d69f90e4ff5c67a7.svg" />
            <md-card-content>
                <br>
                <p>
                    This application will ask for these permissions:
                </p>
                <ul class="permissions">
                    <li *ngFor="let scope of scopes.github">{{ scope.description }}</li>
                </ul>
            </md-card-content>
        </md-card>

        <md-action-row>

            <a *ngIf="!user.github" md-button target="__blank" href="https://github.com/join?source=actions-on-google-wizard">CREATE A FREE ACCOUNT</a> &nbsp;&nbsp;&nbsp;
            <button *ngIf="!user.github; else linkedGithubRef" color="primary" md-raised-button (click)="link('GITHUB')">LINK GITHUB</button>
            <ng-template #linkedGithubRef>
                <button color="warn" md-raised-button (click)="unlink('GITHUB')">UNLINK GITHUB ACCOUNT</button>
                <button md-button color="primary" (click)="nextStep()" [disabled]="!checkNextStepState()">Next</button>
            </ng-template>

        </md-action-row>

    </md-expansion-panel>

    <!-- fork github project -->
    <md-expansion-panel [disabled]="!checkStepState(1)" [expanded]="selectedStep === 1" (opened)="setStep(1)" hideToggle="true">
        <md-expansion-panel-header>

            <md-panel-description *ngIf="github.isAllOperationsOK(); else githubProjectNotForked">
                Project forked Successfully
                <md-icon class="header-image github"></md-icon>
            </md-panel-description>

            <ng-template #githubProjectNotForked>
                <md-panel-description>
                    Forking the template project
                    <md-icon class="header-image github"></md-icon>
                </md-panel-description>
            </ng-template>

        </md-expansion-panel-header>

        <md-card class="card">
            <md-card-content>

                <form #forKGithubProjectForm="ngForm">
                    <p>
                        <md-list dense>
                            <h3 md-subheader>Applying operations</h3>
                            <md-list-item *ngFor="let step of github.operationSteps" [ngClass]="{ 'isWorking': step.isWorking, 'isValid': step.isValid, 'isDirty': step.isDirty }">

                                <div md-list-icon>
                                    <md-icon md-list-icon *ngIf="step.isSkipped" class="skipped-message">error_outline</md-icon>
                                    <md-icon md-list-icon *ngIf="step.isDirty && (!step.isWorking && !step.isValid)" class="error-message">close</md-icon>
                                    <md-icon md-list-icon *ngIf="step.isDirty && (!step.isWorking && step.isValid)">done</md-icon>
                                    <div *ngIf="step.isWorking === true">
                                        <md-progress-spinner color="primary" mode="indeterminate"></md-progress-spinner>
                                    </div>
                                </div>

                                <p md-line>{{ step.description }} <span class="error-message" md-line [title]="step.error" *ngIf="!!step.error">[{{ step.error }}]</span> </p>
                            </md-list-item>

                        </md-list>
                    </p>
                </form>
            </md-card-content>
        </md-card>

        <md-action-row>

            <ng-template #githubProjectNotForkedButton>
                <a *ngIf="user.github" md-button target="__blank" [href]="user.github?.project?.html_url">VIEW PROJECT</a>&nbsp;&nbsp;&nbsp;
                <button md-button color="warn" (click)="prevStep()">Previous</button>
                <button md-button color="primary" (click)="nextStep()">Next</button>
            </ng-template>

            <button *ngIf="!github.isAllOperationsOK(); else githubProjectNotForkedButton" color="primary" md-raised-button (click)="forkGithubProject()">FORK PROJECT</button>

        </md-action-row>
    </md-expansion-panel>

    <!-- link google account  -->
    <md-expansion-panel [disabled]="!checkStepState(2)" [expanded]="selectedStep === 2" (opened)="setStep(2)" hideToggle="true">

        <md-expansion-panel-header>

            <md-panel-description *ngIf="user.google; else accountGoogleNotLinked">
                Successfully linked as {{ user.google.name }}
                <md-icon class="header-image gcp"><img *ngIf="user.google" [src]="user.google.picture"></md-icon>
            </md-panel-description>

            <ng-template #accountGoogleNotLinked>
                <md-panel-description>
                    Link Your Google Account
                    <md-icon class="header-image gcp"></md-icon>
                </md-panel-description>
            </ng-template>

        </md-expansion-panel-header>

        <md-card class="card">

            <img md-card-image src="https://lh3.googleusercontent.com/-gjqMycMM010/WbfiYyxqLtI/AAAAAAAABoA/wws3Psx0yngdvRMaN6sCc6k9XMikFGv5QCL0BGAYYCw/h928/2017-09-12.png">
            <md-card-content>
                <br>
                <p>
                    Allow this application to access your account information in order to setup:
                </p>
                <ul>
                    <li>An API.AI project to model your dialog;</li>
                    <li>An Actions project for your Assistant;</li>
                    <li>A Google Cloud Platform project.</li>
                </ul>
                <p>
                    This application will ask for these permissions (<a href="https://developers.google.com/identity/protocols/googlescopes" target="__target">scopes</a>):
                </p>
                <ul class="permissions">
                    <li *ngFor="let scope of scopes.google">{{ scope.description }}</li>
                </ul>
            </md-card-content>

        </md-card>

        <md-action-row>

            <a *ngIf="!user.google" md-button target="__blank" href="https://cloud.google.com/">CREATE A TRIAL ACCOUNT</a>&nbsp;&nbsp;&nbsp;
            <button *ngIf="!user.google; else linkedGoogleRef" color="primary" md-raised-button (click)="link('GOOGLE')">LINK GOOGLE CLOUD PLATFORM</button>
            <ng-template #linkedGoogleRef>
                <button color="warn" md-raised-button (click)="unlink('GOOGLE')">UNLINK GOOGLE ACCOUNT</button>
                <button md-button color="warn" (click)="prevStep()">Previous</button>
                <button md-button color="primary" (click)="nextStep()">Next</button>
            </ng-template>

        </md-action-row>

    </md-expansion-panel>

    <!-- setup cloud project  -->
    <md-expansion-panel [disabled]="!checkStepState(3)" [expanded]="selectedStep === 3" (opened)="setStep(3)" hideToggle="true">

        <md-expansion-panel-header>

            <md-panel-description *ngIf="user.google; else googleAccountNotLinked">
                Setting projects for {{ user.google.name }}
                <md-icon class="header-image gcp"></md-icon>
            </md-panel-description>

            <ng-template #googleAccountNotLinked>
                <md-panel-description>
                    Setup the cloud projects
                    <md-icon class="header-image gcp"></md-icon>
                </md-panel-description>
            </ng-template>

        </md-expansion-panel-header>

        <md-card class="card">
            <md-card-content>

                <form #gcpProjectForm="ngForm">
                    <div class="input-field col s6">
                        <md-form-field>
                            <md-icon mdPrefix class="material-icons prefix" *ngIf="!gcp.operationSteps[1].isValid" (click)="randomProjectId()" style="cursor: pointer;">autorenew</md-icon>
                            <input mdInput [disabled]="gcp.operationSteps[1].isValid" [(ngModel)]="projectId" name="project-id" id="project-id" type="text" placeholder="Enter a new project ID or import existing" required pattern="[a-z][a-z0-9-]+" maxlength="30" minlength="6" data-length="30">
                        </md-form-field>
                    </div>
                    <p>
                        <md-list dense>
                            <h3 md-subheader>Applying operations</h3>

                            <ng-template ngFor let-step [ngForOf]="gcp.operationSteps">
                                <md-list-item *ngIf="step.enabled" [ngClass]="{ 'isWorking': step.isWorking, 'isValid': step.isValid, 'isDirty': step.isDirty }">

                                    <div md-list-icon>
                                        <md-icon md-list-icon *ngIf="step.isDirty && (!step.isWorking && !step.isValid)" class="error-message">close</md-icon>
                                        <md-icon md-list-icon *ngIf="step.isDirty && (!step.isWorking && step.isValid)">done</md-icon>
                                        <div *ngIf="step.isWorking === true">
                                            <md-progress-spinner color="primary" mode="indeterminate"></md-progress-spinner>
                                        </div>
                                    </div>

                                    <p md-line>{{ step.description }} <span class="error-message" md-line [title]="step.error" *ngIf="!!step.error">[{{ step.error }}]</span> </p>
                                </md-list-item>
                            </ng-template>

                        </md-list>
                        <br>
                        <md-divider></md-divider>
                    </p>
                </form>
            </md-card-content>

        </md-card>

        <md-action-row>

            <button *ngIf="!gcp.isAllOperationsOK(); else projectCreatedDoneRef" color="primary" md-raised-button [disabled]="gcpProjectForm.invalid" (click)="createGCPProjects()">SETUP</button>
            <ng-template #projectCreatedDoneRef>
                <button md-button color="warn" (click)="prevStep()">Previous</button>
                <button md-button color="primary" (click)="nextStep()" [disabled]="gcpProjectForm.invalid">Next</button>
            </ng-template>

        </md-action-row>

    </md-expansion-panel>

    <!--clone and push cloud function  -->
    <md-expansion-panel [disabled]="!checkStepState(4)" [expanded]="selectedStep === 4" (opened)="setStep(4)" hideToggle="true">
        <md-expansion-panel-header>
            <md-panel-description>
                Adding a Repository as a Remote
                <md-icon class="header-image"></md-icon>
            </md-panel-description>
        </md-expansion-panel-header>

        <md-card class="card">
            <md-card-content>
                <p>
                    You can add a Cloud Source Repository as a remote to a local Git repository and use it in the same way you use other Git remotes.
                </p>
                <p>
                    First, clone your new project from Github
                    <br>
                </p>
                <pre><code>git clone {{ user.github?.project?.clone_url }} actions-on-google</code></pre>
                <p>
                    Change your current working directory to the directory that contains your local Git repository:
                    <br>
                </p>
                <pre><code>cd actions-on-google</code></pre>
                <p>
                    Run the credential helper script (on Linux or Mac OS X):
                    <br>
                </p>
                <code>git config credential.helper gcloud.sh</code>
                <p>
                    <br> Or on Windows:<br>

                </p>
                <code>git config credential.helper gcloud.cmd</code>
                <p>
                    <br> The credential helper scripts provide the information needed by Git to connect securely to the Cloud Source Repository using your Google account credentials. You don't need to perform any additional configuration steps (for example,
                    uploading ssh keys) to establish this secure connection.
                    <br> Note that the gcloud command-line tool must be in your $PATH for the credential helper scripts to work.
                </p>
                <p>
                    Add the Cloud Source Repository as a remote:
                    <br>
                </p>
                <pre><code>git remote add google {{ user.google?.project?.url }}/</code></pre>
            </md-card-content>
        </md-card>

        <md-action-row>
            <button md-button color="warn" (click)="prevStep()">Previous</button>
            <button md-button color="primary" (click)="nextStep()">Next</button>
        </md-action-row>

    </md-expansion-panel>

    <!-- recap  -->
    <md-expansion-panel [disabled]="!checkStepState(5)" [expanded]="selectedStep === 5" (opened)="setStep(5)" hideToggle="true">
        <md-expansion-panel-header>
            <md-panel-description>
                Actions on Goolge Wizard
                <md-icon class="header-image"></md-icon>
            </md-panel-description>
        </md-expansion-panel-header>

        <md-card class="card">
            <img md-card-image src="https://camo.githubusercontent.com/3feaf771c4b0ddf1dea041976d5f11d0bc518545/68747470733a2f2f63646e2d696d616765732d312e6d656469756d2e636f6d2f6d61782f323030302f312a35312d51636a646a6c526979345f7961324e6a4132672e706e67">
            <md-card-content>
                <p class="align-center">
                    <a md-raised-button color="primary" target="__blank" href="https://console.actions.google.com/?autoImportProject={{projectId}}">ACTIONS CONSOLE</a>
                    <a md-raised-button color="primary" target="__blank" href="https://console.api.ai/api-client/#/newAgent?projectId={{projectId}}">API.AI CONSOLE</a>
                    <a md-raised-button color="primary" target="__blank" href="https://console.cloud.google.com/home/dashboard?project={{projectId}}">CLOUD CONSOLE</a>
                </p>
            </md-card-content>
        </md-card>

        <md-action-row>
            <button md-button color="warn" (click)="prevStep()">Previous</button>
            <button md-button color="primary" (click)="nextStep()">End</button>
        </md-action-row>

    </md-expansion-panel>

</md-accordion>