<a id="logo-container" href="#/" class="brand-logo">
    <img src="/assets/assistant_product_logo.png" alt="assistant_product_logo" width="192px">
</a>
<h1 class="header center white-text text-darken-2">
    Actions On Google Wizard</h1>
<div class="row center">
    <h5 class="header col s12 light">We setup everything for you so you can focus on building Actions for the Google Assistant.</h5>
</div>
<div class="row center">
    <!-- <a href="#/" id="download-button" class="btn-large waves-effect waves-light blue">Coming soon</a> -->
    <a routerLink="/wizard" id="download-button" class="btn-large waves-effect waves-light blue">Let's Start</a>
</div>