/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'app/_shared/parallax/parallax.css';
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: #599DF0;
}

md-toolbar.mat-toolbar.mat-primary,
button.mat-raised-button.mat-primary,
a.mat-raised-button.mat-primary {
    background: #599DF0;
    color: #fff;
}


/* 
.mat-warn {
    background: #f44336;
    color: #fff;
} */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #599DF0;
}

.parallax-container {
    /* min-height: 740px;
    height: 740px;
    line-height: 0;
    height: auto; */
    color: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .4);
    padding-bottom: 100px;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #index-banner {
        height: auto;
    }
    #index-banner .section {
        top: 0;
    }
    a.brand-logo {
        flex-wrap: wrap;
    }
    a.brand-logo img {
        margin: auto auto !important;
    }
    md-panel-description {
        font-size: 0.8em !important;
    }
    .row .col.m4 {
        width: 100%;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    padding: 0;
}

div.container {
    visibility: visible !important;
}

button.mat-button.mat-primary:focus {
    outline: none;
    background-color: transparent;
}

.fallback {
    display: block;
    height: 740px;
    background: url(/assets/parallax/background1.png) no-repeat;
    background-size: cover;
}